<?xml version="1.0"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <!--
		RichFaces <context-param> <param-name>org.richfaces.SKIN</param-name>
		<param-value>plain</param-value> </context-param> <context-param>
		<param-name>org.richfaces.clientSideStyle</param-name>
		<param-value>true</param-value> </context-param> Suppress spurious
		stylesheets
	-->
 <context-param>
  <param-name>org.richfaces.CONTROL_SKINNING</param-name>
  <param-value>disable</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.CONTROL_SKINNING_CLASSES</param-name>
  <param-value>disable</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.SKIN</param-name>
  <param-value>plain</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.enableControlSkinning</param-name>
  <param-value>false</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.enableControlSkinningClasses</param-name>
  <param-value>false</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.LoadStyleStrategy</param-name>
  <param-value>ALL</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.LoadScriptStrategy</param-name>
  <param-value>ALL</param-value>
 </context-param>
 <context-param>
  <param-name>org.ajax4jsf.COMPRESS_SCRIPT</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.resourceOptimization.enabled</param-name>
  <param-value>true</param-value>
 </context-param>
 <!-- Facelets development mode (disable in production) -->
 <context-param>
  <param-name>facelets.DEVELOPMENT</param-name>
  <param-value>@debug@</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.queue.global.enabled</param-name>
  <param-value>true</param-value>
 </context-param>
 <!--  JSF RI Performance tuning 
 JSF -->
 <context-param>
  <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
  <param-value>.xhtml</param-value>
 </context-param>
 <filter>
  <filter-name>Seam Filter</filter-name>
  <filter-class>org.jboss.seam.servlet.SeamFilter</filter-class>
  <init-param>
   <param-name>createTempFiles</param-name>
   <param-value>false</param-value>
  </init-param>
  <init-param>
   <param-name>maxRequestSize</param-name>
   <param-value>1900000000</param-value>
  </init-param>
 </filter>
  <filter>
    <filter-name>CORS</filter-name>
    <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
    <!-- 
     <init-param>
       <param-name>cors.allowOrigin</param-name>
       <param-value>http://example.com</param-value>
     </init-param>
      -->
 </filter>
 <filter-mapping>
    <filter-name>CORS</filter-name>
    <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>Seam Filter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <listener>
  <listener-class>altalab.altacrm.action.CacheManager</listener-class>
 </listener>
 <listener>
  <listener-class>altalab.altacrm.action.MyServletContextListener</listener-class>
 </listener>
 <listener>
  <listener-class>altalab.altacrm.action.AutomationServletContextListener</listener-class>
 </listener>
 <listener>
  <listener-class>altalab.altacrm.action.BackupServletContextListener</listener-class>
 </listener>
 <listener>
  <listener-class>altalab.altacrm.action.CallCenterServletListener</listener-class>
 </listener>
 <listener>
  <listener-class>altalab.altacrm.action.TrackingAmazonEmailListener</listener-class>
 </listener>
 <listener>
  <listener-class>altalab.altacrm.action.SynchronizeDataServletContextListener</listener-class>
 </listener>
 <listener>
  <listener-class>altalab.altacrm.action.SynchronizeCdrServletContextListener</listener-class>
 </listener>
 <!-- Seam -->
 <listener>
  <listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>FormLoadChecking</servlet-name>
  <servlet-class>altalab.altacrm.action.FormLoadChecking</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>ServletCallIP</servlet-name>
  <servlet-class>altalab.altacrm.action.CommInServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ServletCallEndIP</servlet-name>
  <servlet-class>altalab.altacrm.action.CallCenterEndServlet</servlet-class>
 </servlet>
 <!--
	<servlet>
		<servlet-name>ServletCallTransactions</servlet-name>
		<servlet-class>altalab.altacrm.action.CalltransasctionServlet</servlet-class>
	</servlet>
	-->
 <servlet>
  <servlet-name>ServletCallCenterTransactions</servlet-name>
  <servlet-class>altalab.altacrm.action.CallCentertransasctionServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>DisplayLocalImageServlet</servlet-name>
  <servlet-class>altalab.altacrm.action.DisplayLocalImageServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>TicketCreateServlet</servlet-name>
  <servlet-class>altalab.altacrm.action.TicketCreateServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CustomerHistoryWebsiteServlet</servlet-name>
  <servlet-class>altalab.altacrm.action.CustomerHistoryWebsiteServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CheckCustomerWebsiteServlet</servlet-name>
  <servlet-class>altalab.altacrm.action.CheckCustomerWebsiteServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CustomerCallFromWebsiteServlet</servlet-name>
  <servlet-class>altalab.altacrm.action.CustomerCallFromWebsiteServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>RecordingFilesServlet</servlet-name>
  <servlet-class>altalab.altacrm.action.RecordingFilesServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>UploadFilesServlet</servlet-name>
  <servlet-class>altalab.altacrm.action.UploadFilesServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>WebHooksServlet</servlet-name>
  <servlet-class>altalab.altacrm.action.WebHooksServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ClickToCallServlet</servlet-name>
  <servlet-class>altalab.altacrm.action.ClickToCallServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>TransferCallServlet</servlet-name>
  <servlet-class>altalab.altacrm.action.TransferCallServlet</servlet-class>
 </servlet>
  <servlet>
  <servlet-name>HangupCallServlet</servlet-name>
  <servlet-class>altalab.altacrm.action.HangupCallServlet</servlet-class>
 </servlet>
 <!-- VHT -->
 <servlet>
  <servlet-name>ACDClientCallServlet</servlet-name>
  <servlet-class>altalab.altacrm.action.ACDClientCallServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ACDClientAddressServlet</servlet-name>
  <servlet-class>altalab.altacrm.action.ACDClientAddressServlet</servlet-class>
 </servlet>
 <!-- StringEE -->
  <servlet>
    <servlet-name>StringeeRouteServlet</servlet-name>
    <servlet-class>altalab.altacrm.action.callcenter.StringeeRouteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StringeeAgentReceiptServlet</servlet-name>
    <servlet-class>altalab.altacrm.action.callcenter.StringeeAgentReceiptServlet</servlet-class>
  </servlet>
  <!-- Voip24h route -->
  <servlet>
    <servlet-name>Voip24hRouteServlet</servlet-name>
    <servlet-class>altalab.altacrm.action.callcenter.Voip24hRouteServlet</servlet-class>
  </servlet>
 <servlet>
  <servlet-name>CmcTelecomServlet</servlet-name>
  <servlet-class>altalab.altacrm.action.CmcTelecomServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>PaVietNamServlet</servlet-name>
  <servlet-class>altalab.altacrm.action.PaVietNamServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>WebformServlet</servlet-name>
  <servlet-class>altalab.altacrm.action.WebformServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Seam Resource Servlet</servlet-name>
  <servlet-class>org.jboss.seam.servlet.SeamResourceServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>FormLoadChecking</servlet-name>
  <url-pattern>/FormLoadChecking</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DisplayLocalImageServlet</servlet-name>
  <url-pattern>/display</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>TicketCreateServlet</servlet-name>
  <url-pattern>/createTicket</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CustomerHistoryWebsiteServlet</servlet-name>
  <url-pattern>/customer/history</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CheckCustomerWebsiteServlet</servlet-name>
  <url-pattern>/customer/checkwebsite</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CustomerCallFromWebsiteServlet</servlet-name>
  <url-pattern>/customer/callwebsite</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletCallIP</servlet-name>
  <url-pattern>/CommInServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletCallEndIP</servlet-name>
  <url-pattern>/CallEndServlet</url-pattern>
 </servlet-mapping>
 <!-- 
	<servlet-mapping>
		<servlet-name>ServletCallTransactions</servlet-name>
		<url-pattern>/CalltransasctionServlet</url-pattern>
	</servlet-mapping>
	 -->
 <servlet-mapping>
  <servlet-name>ServletCallCenterTransactions</servlet-name>
  <url-pattern>/CallCentertransasctionServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RecordingFilesServlet</servlet-name>
  <url-pattern>/record</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UploadFilesServlet</servlet-name>
  <url-pattern>/FileUpload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>WebHooksServlet</servlet-name>
  <url-pattern>/webhooks</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ClickToCallServlet</servlet-name>
  <url-pattern>/callcenter/c2c</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>TransferCallServlet</servlet-name>
  <url-pattern>/callcenter/reject</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>HangupCallServlet</servlet-name>
  <url-pattern>/callcenter/hangup</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ACDClientCallServlet</servlet-name>
  <url-pattern>/acd/call</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ACDClientAddressServlet</servlet-name>
  <url-pattern>/acd/address</url-pattern>
 </servlet-mapping> 
 <servlet-mapping>
  <servlet-name>StringeeRouteServlet</servlet-name>
    <url-pattern>/stringee/route</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StringeeAgentReceiptServlet</servlet-name>
    <url-pattern>/stringee/agent-receipt</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Voip24hRouteServlet</servlet-name>
    <url-pattern>/voip24h/route</url-pattern>
  </servlet-mapping> 
 <servlet-mapping>
  <servlet-name>CmcTelecomServlet</servlet-name>
  <url-pattern>/cmctelecom</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>PaVietNamServlet</servlet-name>
  <url-pattern>/pavietnam</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>WebformServlet</servlet-name>
  <url-pattern>/webform</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Seam Resource Servlet</servlet-name>
  <url-pattern>/seam/resource/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.seam</url-pattern>
 </servlet-mapping>
 <security-constraint>
  <display-name>Restrict raw XHTML Documents</display-name>
  <web-resource-collection>
   <web-resource-name>XHTML</web-resource-name>
   <url-pattern>*.xhtml</url-pattern>
  </web-resource-collection>
  <auth-constraint/>
 </security-constraint>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
 <!--
		uncomment <ejb-local-ref> entries when deploying to GlassFish and
		(optionally) JBoss AS 5 <ejb-local-ref>
		<ejb-ref-name>altacrm/AuthenticatorBean/local</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type> <local-home/>
		<local>altalab.altacrm.action.Authenticator</local> </ejb-local-ref>
		Add entries for each EJB session bean which is also a Seam component
		(not required on JBoss AS)
	-->
 <persistence-unit-ref>
  <persistence-unit-ref-name>altacrm/pu</persistence-unit-ref-name>
  <persistence-unit-name>../altacrm.jar#altacrm</persistence-unit-name>
  <!--
			The relative reference doesn't work on GlassFish. Instead, set the
			<persistence-unit-name> to "altacrm", package persistence.xml in the
			WAR, and add a <jar-file> element in persistence.xml with value
			"../../altacrm.jar".
			<persistence-unit-name>altacrm</persistence-unit-name>
		-->
 </persistence-unit-ref>
   <servlet>
    <description></description>
    <display-name>SurveyServlet</display-name>
    <servlet-name>SurveyServlet</servlet-name>
    <servlet-class>altalab.altacrm.action.SurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyServlet</servlet-name>
    <url-pattern>/survey</url-pattern>
  </servlet-mapping>
</web-app>
